<div class="pagina flex flex-column col-12">
  <div class="item-pagina botoes">
    <button pButton type="button"
            icon="pi pi-plus"
            class="button-action ui-button-success button-save-new"
            iconPos="left"
            label="Cadastrar Chope"
            (click)="registerDraftBeer()">
    </button>

    <button pButton type="button"
            icon="bi bi-layer-forward"
            class="button-action "
            iconPos="left"
            label="Entrada de Chope"
            (click)="giveEntryToProduct()">
    </button>
  </div>

  <custom-table [colunas]="columns"
                [dados]="draftBeersList"
                [paginator]="true"
                [rows]="12"
                [editarDado]="true" [desativarDado]="true"
                (abrirModalHabilitado)="editDraftBeer($event)" (deletarDado)="confirmAction($event)">
  </custom-table>

</div>

<custom-dialog [display]="display"
               [header]="titleDialog"
               (answerForm)="onSave()"
               (closeDialog)="onClose()">
  <app-chope-prod></app-chope-prod>
</custom-dialog>

<custom-dialog [display]="displayEntry"
               [header]="titleDialog"
               (answerForm)="callEntryQtd()"
               (closeDialog)="onCloseEntry()">
  <app-chope-entry></app-chope-entry>
</custom-dialog>
