<div class="pagina flex flex-column col-12">
  <div class="item-pagina col-12">
    <span class="titulo">Entrada e Saída de Clientes</span>
  </div>

  <div class="item-pagina-botoes pt-3">
    <button pButton type="button"
            icon="pi pi-plus"
            class="button-action ui-button-success button-save-new"
            iconPos="left"
            label="Cadastrar Cliente"
            (click)="newCustomer()">
    </button>
    <button pButton type="button"
            icon="bi bi-clipboard-check"
            class="button-action ui-button-success button-save-new"
            iconPos="left"
            label="Registrar Entrada"
            (click)="checkIn()">
    </button>
    <button pButton type="button"
            icon="bi bi-clipboard-x"
            class="button-action ui-button-success button-save-new"
            iconPos="left"
            label="Registrar Saída"
            (click)="checkOut()">
    </button>
  </div>

  <p-tabView>
    <p-tabPanel header="Clientes Cadastrados">
      <custom-table [colunas]="columns"
                    [dados]="customersList"
                    [paginator]="true"
                    [rows]="12"
                    [editarDado]="true" [desativarDado]="true"
                    (abrirModalHabilitado)="editCustomer($event)" (deletarDado)="confirmAction($event)">
      </custom-table>
    </p-tabPanel>

    <p-tabPanel header="Entrada">
      <div class="list-card">
        <div *ngFor="let item of customerEntries">
          <div class="item">
            <div class="body-card">
              <span class="nome">{{item.nome.toUpperCase()}}</span>
              <span>CPF: {{item.cpf | cpf}}</span>
              <span>Cartão RFID: {{item.numCartaoRFID}}</span>
            </div>
          </div>
        </div>
      </div>
    </p-tabPanel>
  </p-tabView>
</div>
<custom-dialog [display]="display"
               [header]="titleDialog"
               (answerForm)="onSave()"
               (closeDialog)="onClose()">
  <app-cliente-form></app-cliente-form>
</custom-dialog>
