<div class="pagina flex flex-column col-12">
  <div class="item-pagina botoes">
    <button pButton type="button"
            icon="pi pi-plus"
            class="button-action ui-button-success button-save-new"
            iconPos="left"
            label="Cadastrar Insumo"
            (click)="registerInput()">
    </button>

    <button pButton type="button"
            icon="pi pi-plus"
            class="button-action ui-button-success button-save-new"
            iconPos="left"
            label="Cadastrar Self-Service"
            (click)="selfServiceInput()">
    </button>

    <button pButton type="button"
            icon="bi bi-layer-forward"
            class="button-action "
            iconPos="left"
            label="Entrada de Insumo"
            (click)="giveEntryToProduct()">
    </button>

    <button pButton type="button"
            icon="bi bi-layer-backward"
            class="button-action"
            iconPos="left"
            label="Saída de Insumo"
            (click)="outputInProduct()">
    </button>

    <button pButton type="button"
            icon="bi bi-upc"
            class="button-action"
            iconPos="left"
            label="Imprimir Código de Barras"
            (click)="printBarcode()">
    </button>
  </div>

  <custom-table [colunas]="columns"
                [dados]="inputsList"
                [paginator]="true"
                [rows]="12"
                [editarDado]="true" [desativarDado]="true"
                (abrirModalHabilitado)="editInput($event)" (deletarDado)="confirmAction($event)">
  </custom-table>

</div>

<custom-dialog [display]="display"
               [header]="titleDialog"
               (answerForm)="onSaveRegister()"
               (closeDialog)="onClose()">
  <app-insumo-prod></app-insumo-prod>
</custom-dialog>

<custom-dialog [display]="displayEntry"
               [header]="titleDialog"
               (answerForm)="callEntryQtd()"
               (closeDialog)="onCloseEntry()">
  <app-insumo-entry></app-insumo-entry>
</custom-dialog>

<custom-dialog [display]="displayWithdraw"
               [header]="titleDialog"
               (answerForm)="callWithdrawQtd()"
               (closeDialog)="onCloseWithdraw()">
  <app-insumo-withdraw></app-insumo-withdraw>
</custom-dialog>

<custom-dialog [display]="displaySelfservice"
               [header]="titleDialog"
               (answerForm)="onSaveRegisterSelfService()"
               (closeDialog)="onCloseModalSelfservice()">
  <app-insumo-selfService></app-insumo-selfService>
</custom-dialog>

