//formularios
div.form {
    display: flex;
    flex-direction: column;
}

span.item-form {
    justify-content: space-evenly;
    //padding-top: 10px;
    //padding-bottom: 5px;
}

span.titulo {
    font-size: 30pt;
    font-family: 'Kreon', Verdana, sans-serif;
    font-weight: 700;
    color: var(--cor-tema-7);
}

div.action-form {
    display: flex;
    justify-content: space-between;
}

div.titulo-pagina {
    text-align: center;
    background-color: #eff0d15c;
    padding-top: 7px;
}

span.titulo-caso {
    color: var(--cor-tema-eton-blue);
    font-size: 25pt;
    font-family: 'Kreon', Verdana, sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 10px 10px;
}

div.detalhe {
    padding: 8px;
    border-bottom: 5px solid var(--cor-tema-2);
}

.icone-uso {
    color: var(--cor-tema-eton-blue);
    text-align: center;
    font-size: 20pt;
    padding-right: 30px;
}


div.item-pagina.tabela {
  //  border: 0.5em solid var(--cor-tema-4);
  border: 0.5em solid var(--cor-tema-3);
}

p-dialog {
  .p-dialog {
    width: 60vw;

    .p-dialog-content {
      min-height: 1vh;
    }

    .p-dialog-header {
      background-color: var(--cor-tema-6);
      height: 2rem;
    }
  }
}

//LISTAGEM

div.item-pagina {
  padding-bottom: 10px;
  border-bottom: 1px solid #80808059;
}

span.titulo {
  font-size: 20pt;
  font-family: 'Kreon', Verdana, sans-serif;
  font-weight: 700;
  margin-left: 10px;
  color: var(--cor-tema-raisin-black);
}

div.column-action {
  width: 132px !important;
  justify-content: space-evenly;
}

div.item-pagina-botoes {
  padding-bottom: 10px;
}

