:root {
    --cor-tema-1: #8ECAE6;
    --cor-tema-2: #219EBC;
    --cor-tema-3: #023047;
    --cor-tema-4: #FFB703;
    --cor-tema-5: #FB8500;
    --cor-tema-6: #4caf50;
    --cor-tema-7: #262730;
    --cor-tema-8: #f9c07f;
}
