<div class="pagina flex flex-column col-12">
  <div class="item-pagina botoes">
    <button pButton type="button"
            icon="pi pi-plus"
            class="button-action ui-button-success button-save-new"
            iconPos="left"
            label="Cadastrar Prato"
            (click)="newDish()">
    </button>
  </div>

  <custom-table [colunas]="columns"
                [dados]="dishesList"
                [paginator]="true"
                [rows]="12"
                [editarDado]="true" [desativarDado]="true" [repor]="true"
                (abrirModalHabilitado)="editDish($event)" (deletarDado)="confirmAction($event)" (solicitarReposicao)="confirmRequest($event)">
  </custom-table>

</div>

<custom-dialog [display]="display"
               [header]="titleDialog"
               (answerForm)="onSave()"
               (closeDialog)="onClose()">
  <app-self-service-prod></app-self-service-prod>
</custom-dialog>
