<div class="form p-fluid p-grid">
  <form [formGroup]="formGroup">

    <div class="area-field flex pt-2">

      <div class="item-field col-5">
        <span class="item-form">
          <label class="campo" for="codBarras">Código de Barras</label>
          <input type="text" id="codBarras" pInputText formControlName="codigoBarras">
        </span>
      </div>

      <div class="item-field col-7">
        <span class="item-form">
          <label class="campo" for="descricao">Descrição</label>
          <input type="text" id="descricao" pInputText formControlName="descricao">
        </span>
      </div>

    </div>

    <div class="area-field flex col-12">

      <div class="item-field col-4">
        <span class="item-form">
          <label class="campo">Preço de Compra R$</label>
          <p-inputNumber formControlName="precoCompra" mode="currency" locale="pt-BR" currency="BRL" [min]="0">
          </p-inputNumber>
        </span>
      </div>

      <div class="item-field col-4">
        <span class="item-form">
          <label class="campo" for="unidade">Unidade</label>
          <input type="text" id="unidade" pInputText formControlName="unidade">
        </span>
      </div>

      <div class="item-field col-4">
        <span class="item-form">
          <label class="campo" for="qtdeEstoque">Quantidade</label>
          <input type="text" id="qtdeEstoque" pInputText formControlName="qtdeEstoque">
        </span>
      </div>

    </div>

    <div class="area-field flex">

      <div class="item-field col-4">
        <span class="item-form">
          <label class="campo">Preço de Venda R$</label>
          <p-inputNumber formControlName="precoVenda" mode="currency" locale="pt-BR" currency="BRL" [min]="0">
          </p-inputNumber>
        </span>
      </div>

      <div class="item-field col-4">
        <span class="item-form">
          <label class="campo" for="pontoEncomenda">Ponto de Encomenda</label>
          <input type="text" id="pontoEncomenda" pInputText formControlName="pontoEncomenda">
        </span>
      </div>

    </div>
  </form>
</div>
<ng-content></ng-content>

