div.list-card {
  display: flex;
  gap: 5rem;
  width: 100%;
  justify-content: center;

  .item {
    width: 80rem;
    display: flex;
    background: var(--cor-tema-3);
    color: #FFF;
    height: 22rem;
    border-radius: 2rem;
    align-content: center;
    padding: 0.5rem 2rem;
    justify-content: space-evenly;

    .body-card {
      display: flex;
      padding: 1rem;
      justify-content: space-between;
      gap: 0.5rem;
    }

    .repo {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      width: 20%;
      padding: 1rem;
      align-items: center;

      .logo-ss {
        background-color: var(--cor-tema-4);
        border-radius: 40rem;
      }

    }

    .area-field {
      width: 100%;
      align-items: flex-end;
    }
  }

  span.descricao, .valor {
    color: var(--cor-tema-5);
    font-weight: 500;
    font-family: 'Kreon', Verdana, sans-serif;
    font-size: 30pt;
  }
}

.item-field {
  padding-left: 0;
}

.area-field {
  gap: 1rem;
}

.icone-pers {
  max-width: 100%;
  max-height: 100%;
  display: block;
}
