<div class="pagina col-12 flex flex-column">

  <div class="col-12 area">
    <span class="titulo">Relatórios</span>
  </div>

  <div class="col-12 flex">
    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="generateBalanceReportProductInStock()">
        <em class="icon bi bi-filetype-pdf"
            pTooltip="Saldo de cada produto do estoque da cozinha e do chope.">
        </em>
        <span class="label-button">Saldo de Produto</span>
      </p-card>
    </div>

    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="generatePointOfOrderProductReport()">
        <em class="icon bi bi-filetype-pdf"
            pTooltip="Produtos que estão com estoque no momento da encomenda.">
        </em>
        <span class="label-button">Produtos Em Ponto de Encomenda</span>
      </p-card>
    </div>

    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="openModalPopularBeer()">
        <em class="icon bi bi-filetype-pdf"
            pTooltip="Chopes mais consumidos em um determinado período">
        </em>
        <span class="label-button">Chopes</span>
      </p-card>
    </div>
  </div>

  <div class="col-12 flex">
    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="openModalCustomerPurchases()">
        <em class="icon bi bi-filetype-pdf"
            pTooltip="Lista com nome do cliente e o valor comprado em um intervalo de data.">
        </em>
        <span class="label-button">Compras de Clientes</span>
      </p-card>
    </div>
    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="openRequestToSendEmail()">
        <em class="icon bi bi-filetype-pdf"
            pTooltip="Envio de email para todos os clientes que compraram em um determinado período de tempo.">
        </em>
        <span class="label-button">Envio de E-mails</span>
      </p-card>
    </div>
    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="openModalMovementReport()">
        <em class="icon bi bi-filetype-pdf"
            pTooltip="Receita x despesas em um período.">
        </em>
        <span class="label-button">Receita x Despesas</span>
      </p-card>
    </div>
  </div>
</div>


<custom-dialog [display]="displayModalPopularBeer"
               [header]="'RELATÓRIO - Chopes Mais Consumidos'"
               (answerForm)="generateReportMostConsumedBeersInAPeriod()"
               (closeDialog)="onClose()">
  <app-modal-datas-relatorio #report1></app-modal-datas-relatorio>
</custom-dialog>

<custom-dialog [display]="displayCustomerPurchases"
               [header]="'RELATÓRIO - Compras de Clientes'"
               (answerForm)="generateCustomerReportWithAmountPurchasedInPeriod()"
               (closeDialog)="onClose()">
  <app-modal-datas-relatorio #report2></app-modal-datas-relatorio>
</custom-dialog>

<custom-dialog [display]="displayDialogEmail"
               [header]="'RELATÓRIO - Envio de E-mail'"
               (answerForm)="sendEmail()"
               (closeDialog)="onClose()">
  <app-modal-datas-relatorio #report3></app-modal-datas-relatorio>
</custom-dialog>

<custom-dialog [display]="displayMovementReport"
               [header]="'RELATÓRIO - Receita x Despesas'"
               (answerForm)="generateExpenseAndIncomeMovementReport()"
               (closeDialog)="onClose()">
  <app-modal-datas-relatorio #report4></app-modal-datas-relatorio>
</custom-dialog>
