<div class="pagina col-12 flex flex-column">

  <div class="col-12 area">
    <span class="titulo">Painel Geral</span>
  </div>

  <div class="col-12 flex">
    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="mudarRota(0)">
        <em class="icon bi bi-person-vcard"></em>
        <span class="label-button">Usuários</span>
      </p-card>
    </div>

    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="mudarRota(1)">
        <em class="icon bi bi-card-heading"></em>
        <span class="label-button">Relatórios</span>
      </p-card>
    </div>

    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="mudarRota(2)">
        <em class="icon bi bi-grid"></em>
        <span class="label-button">Produtos</span>
      </p-card>
    </div>
  </div>

  <div class="col-12 flex">
    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="mudarRota(3)">
        <em class="icon bi-people-fill"></em>
        <span class="label-button">Clientes</span>
      </p-card>
    </div>

    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="mudarRota(4)">
        <em class="icon bi bi-cart"></em>
        <span class="label-button">Caixa</span>
      </p-card>
    </div>

    <div class="container menu col-4">
      <p-card class="card-item-menu" (click)="mudarRota(5)">
        <em class="icon bi bi-fire"></em>
        <span class="label-button">Cozinha</span>
      </p-card>
    </div>
  </div>

  <div class="container  col-4">
    <p-card class="card-item-menu" (click)="mudarRota(2)">
      <em class="icon bi bi-shop-window"></em>
      <span class="label-button">Self-Service e Chope</span>
    </p-card>
  </div>

</div>
