<div class="form p-fluid p-grid">
  <form [formGroup]="formGroup">

    <div class="area-field flex pt-2">


      <div class="item-field col-7">
        <span class="item-form">
          <label class="campo" for="descricao">Descrição</label>
          <input type="text" id="descricao" pInputText formControlName="descricao">
        </span>
      </div>

      <div class="item-field col-5">
        <span class="item-form">
          <label class="campo">Preço Kg R$</label>
          <p-inputNumber formControlName="precoKg" mode="currency" locale="pt-BR" currency="BRL" [min]="0">
          </p-inputNumber>
        </span>
      </div>
    </div>
  </form>
</div>
<ng-content></ng-content>

